@charset "utf-8";
@media (min-width:768px){
    .middle >.left{
        width:80%;
    }
    .middle> .left >.details >a >img{
        left:69%;
    }
    .middle >.right{
        width:46%;
    }
    .middle >.right> .nava5> a >img{
        width:100%;
    }
}
.middle{
    position:relative;
    width:100%;
    
}
.middle >.left{
    overflow:hidden;
    margin-bottom: 100px;
    background-color:rgb(50,186,225);
}
.middle> .left >.details{
   
    width:50%;
    margin:20px auto;
    
    text-align:left;
}
.middle> .left >.details >a{
    display:block;
    color:#fff;
}
.middle> .left >.details >a p:nth-child(1){
    margin:80px 0 80px;
    font-size:30px;
   
}
.middle> .left >.details >a p:nth-child(2){
    margin:0 0 80px;
}
.middle> .left >.details >a p:nth-child(3){
    margin-bottom:80px;
    font-size:25px;
}
.middle> .left >.details >a p:nth-child(3) >i{
    display:inline-block;
    font-size:30px;
    line-height: 30px;
    transition:.3s;
}
.middle> .left >.details >a p:nth-child(4){
    margin-bottom:60px;
    font-size:14px;
}
.middle> .left >.details >a >img{
    position: absolute;
    display:block;
    top:13px;
    transition:.3s;
}

/* 右边区域 */
.middle >.right{
    background-color: rgb(221,230,237);
    margin-top:50px;
    margin:auto;
}
.middle >.right > .nava5 >a{
    display: block;
}
.middle >.right> .nava5> a >p{
    margin:0 60px;
}
.middle >.right  > .nava5> a> p:nth-child(2){
    font-size: 12px;
    margin:30px 60px;
    
}
.middle >.right  > .nava5> a> p:nth-child(3){
    font-size: 30px;
    font-weight:bold;
    margin-bottom: 30px;
}
.middle >.right  > .nava5> a> p:nth-child(4){
    margin-bottom: 80px;
    font-size: 18px;
}
.middle >.right  > .nava5> a> p:nth-child(5){
    font-size:25px;
    padding-bottom:20px;
}
.middle >.right  > .nava5> a> p:nth-child(5) >i{
    font-size: 20px;
}