@charset "utf-8";


ul,ol{
    list-style:none;}
a{
    text-decoration:none;
    color:#000;
}
body,p,ul,ol,h1,h2,h3,h4,h5,h6,dl,dd{
   padding:0;
   margin:0;}
.clearfix:after{
    display: block;
    content:"";
    clear:both;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.wid1128{
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.wrap{
    overflow: hidden;
}

